<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>location</string>
		<string>bluetooth-central</string>
	</array>
	
	<!-- 新增蓝牙权限描述 -->
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>该应用需要持续访问蓝牙以连接和管理设备。</string>

	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>该应用需要访问蓝牙以连接和与设备通信。</string>
	
</dict>
</plist>
